body {
    background-color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 470px;
}

.fa {
    padding: 30px;
    font-size: 90px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 20%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }

  .fa-instagram {
    background: rgb(201, 25, 122);
    color: white;
  }

  .fa-spotify {
      background: green;
      color: white;
  }

  .fa-podcast {
    background: purple;
    color: white;
}

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
  }

  .button {
    background-color: gold;
    border: none;
    color: black;
    padding: 25px 42px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;

  }

  .buttonguest:hover {
    background-color: rgb(180, 164, 69);
  }

  .buttonquestion:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .buttonplaylist:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .container { 
    height: 200px;
    position: relative;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  @media(max-width: 600px){
    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
}
